body{
    background-image: url("image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: aliceblue;

}
#clock{
    font-family: monospace;
    font-size: 6em;
    text-align: center;
    backdrop-filter: blur(5px);
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.059);
}